<div class="home-container">

  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <h1>Bold enough to change the world</h1>
      <p>
        We are intimately familiar with the inadequate support available to victims of cybercrime and are
        actively working to change it. Our team is using years of experience in crypto, forensic investigations, law
        enforcement and technology to empower victims of crypto-related fraud with actionable intelligence and
        a counterattack. We are longtime advocates of the digital asset ecosystem and are collaborating with
        global partners to reduce investor churn and protect the ecosystem's integrity.
      </p>
      <button class="action-button" routerLink="/fraud-investigation-consent">Report Cybercrime Incident</button>
    </div>
    <div class="hero-image">
      <div class="wave-image-container">
        <img src="/assets/images/waves.png" alt="Waves">
      </div>
    </div>
  </section>

  <!-- Services Section -->
  <section class="services">
    <h2>What we offer</h2>
    <div class="service-cards">
      <div class="service-card">
        <div class="service-content">
          <div class="service-icon">
            <img src="/assets/images/offer-left.png" alt="Crypto Asset Recovery">
          </div>
          <div class="service-text">
            <h3>Crypto Asset Recovery Effort Support</h3>
            <p>
              We offer comprehensive assistance to clients hoping to recover lost or stolen crypto assets, providing expert guidance and resources. 
              This includes advising on recovery feasibility, options such as pursuing cases with law enforcement agencies and filing civil 
              injunctions, and utilizing legal remedies to maximize the chances of recovery.
            </p>
          </div>
        </div>
      </div>
      <div class="service-card">
        <div class="service-content">
          <div class="service-icon">
            <img src="/assets/images/offer-right.png" alt="Expert Witness Testimony">
          </div>
          <div class="service-text">
            <h3>Expert Witness Testimony</h3>
            <p>
              Our seasoned professionals offer expert witness testimony in legal proceedings, providing valuable insights based on years of 
              experience and deep technology expertise.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>